.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    width: 100%; 
}

.large-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 960px;
    background-color: grey;
}

.flex-container {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;   
}

.grid-item {
    background-color: #e0e0e0;
}

.hover-style {
    background-color: purple;
}